{# _articles.twig #}
{% extends "global/_layout.twig" %}

{% block page %}
  {{body}}

  <a href="/">Home</a>



  title: {{ title }}

  {{ layout }}
  {{ isPage }}

  <ul>
    {% for value in benefits %}
      <li>{{ value }}</li>
    {% endfor %}
  </ul>
{% endblock %}
